<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
    <meta charset="utf-8" />

    <!-- XXX: re-add all of the ATOM feed things. -->
    {% endblock head %}
</head>

<body>

    <div class="header-and-content">
        <div class="header">
            {% block header %}
                <h1>Please define a header block!</h1>
            {% endblock %}
        </div>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <div class="footer">
        <div class="footer-left">
            Categories:
            <ul>
                {% for cat, null in categories %}
                    <li>
                        <a href="{{ SITEURL }}/{{cat.url }}">{{ cat }}</a>
                    </li>
                {% endfor %}
            </ul>

            <a href="{{ SITEURL }}">Archives</a>
        </div>

        <div class="footer-right">
            <!-- XXX: add my twitter and github using image links -->
            My Other Sites:
            <ul>
                <li>
                    <a href="https://defuse.ca/">
                        Defuse Security
                    </a>
                </li>
                <li>
                    <a href="https://crackstation.net/">
                        CrackStation
                    </a>
                </li>
                <li>
                    <a href="http://cryptofails.com/">
                        Crypto Fails
                    </a>
                </li>
            </ul>
        </div>

        <div class="footer-middle">
            <a href="{{ SITEURL }}">
                <h1>BQP</h1>
            </a>
        </div>
    </div>

    <!-- Piwik -->
    <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//defuse.ca/piwik/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 4]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
    </script>
    <noscript><p><img src="//defuse.ca/piwik/piwik.php?idsite=4" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
</body>
</html>
