{% extends "base.html" %}

{% block header %}
    {% block content_title %}
    <h1>All articles</h1>
    {% endblock %}
{% endblock %}

{% block content %}

    <ol class="post-list">
        {% for article in articles_page.object_list %}
            <li>
                <h2 class="entry-title">
                    <a href="{{ SITEURL }}/{{ article.url }}"
                       rel="bookmark"
                       title="Permalink to {{ article.title|striptags }}">
                        {{ article.title }}
                    </a>
                </h2>
                <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
            </li>
        {% endfor %}
    </ol>

    {% if articles_page.has_other_pages() %}
        {% include 'pagination.html' %}
    {% endif %}

{% endblock content %}
